* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 50px;
  padding: 0px;
  font-family: 'helvetica';
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 60px;
  font-weight: bold;
  float: left;
  font-family: 'comic sans ms';
  color: #716f81;
}

.menu {
  float: right;
  height: 60px;
  max-width: 600px;
}

.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.tombol-menu .garis {
  height: 3px;
  background-color: #000;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 60px;
  position: fixed;
  position: '-webkit-sticky';
  top: 0;
  background: white;
  z-index: 100;
  border-bottom: 1px solid #716f81;
  transition: background-color 0.5s ease;
  color: #141e61;
}

nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav .menu ul li a {
  color: #141e61;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}
.search {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
}
.tbl-search {
  background: #141e61;
  border-radius: 20px;
  width: 50px;
  height: 30px;
  padding: 8px;
  cursor: pointer;
}

nav .menu ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
  font-family: 'helvetica';
}

/* slideshow */
.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slideshow img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.slideshow .satu {
  background-image: url('img/Business.jpg');
}

.slideshow .dua {
  background-image: url('img/code.jpg');
}

.slideshow .tiga {
  background-image: url('img/bahasa.jpg');
}

.slideshow .empat {
  background-image: url('img/uiux.jpg');
}

.slideshow .container {
  position: absolute;
  bottom: 150px;
  left: 150px;
}

.slideshow .container .mainText {
  position: relative;
}

.slideshow .container .mainText .garis {
  position: absolute;
  width: 7px;
  height: 80px;
  border-radius: 10px;
  background-color: #b97a95;
}

.slideshow .container .mainText h3 {
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 30px;
  color: #fff;
}

.slideshow .container .mainText h1 {
  margin: 20px 0 40px 30px;
  font-weight: 1000;
  line-height: 10px;
  text-transform: uppercase;
  color: #fff;
}

.slideshow .container h3 {
  color: #fff;
  font-size: 1.1rem;
}

#home {
  display: flex;
  padding: 100px 0;
}

#home img {
  margin-top: 50px;
  max-width: 50%;
  max-height: 50%;
  border-radius: 30px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: 'comic sans ms';
  color: #716f81;
}

.kolom .deskripsi #tittle {
  text-align: center;
}

h2 {
  font-family: 'comic sans ms';
  font-weight: 80px;
  font-size: 45px;
  margin-bottom: 30px;
  color: #141e61;
  width: 100%;
  line-height: 50px;
}

a.tbl-biru {
  background: #141e61;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #b97a95;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.tengah {
  text-align: center;
  width: 100%;
}

.about-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.about-foto {
  width: 30%;
  margin: 0 auto;
}

.about-foto img {
  width: 30%;
  border-radius: 50%;
}

.about-foto p {
  font-family: 'helvetica';
  font-weight: 800;
  font-size: 15px;
  text-align: center;
  color: #716f81;
}

#contact {
  background: #dedede;
  padding: 50px 50px 50px 50px;
  display: flex;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-family: 'helvetica';
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 20px;
  color: #716f81;
  width: 100%;
  line-height: 30px;
}

.column {
  float: left;
  width: 33.3%;
  padding: 10px 30px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

#tittle-why {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  height: 400px;
}

#why {
  display: inline;
}

img.icon {
  width: 60px;
  display: block;
  margin-bottom: 30px;
}
img.image-contact {
  width: 100px;
}
/* .formkomen {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-left: 20px;
  padding: 20px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
}
.tombol {
  background: #141e61;
  width: auto;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 15px 15px 15px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.forminput {
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.komentar {
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} */

.footer {
  background-color: #263238;
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top: 125px;
}

.kontak .teks {
  color:#fff;
  padding: 20px;
}

.teks-kontak .contactus p {
  margin: 5px;
  color: white;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
  .logo {
    display: block;
    width: 100%;
    text-align: center;
  }
  .tombol-menu {
    display: flex;
  }
  #home img {
    max-width: 100%;
  }
  nav .menu {
    width: auto;
    margin: 0px;
  }
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 40px;
  }

  nav .menu ul li a {
    color: #333;
  }
  section {
    display: block;
  }
  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  a.tbl-biru {
    display: block;
    width: 50%;
  }

  .about-foto {
    width: 50%;
  }

  .column {
    display: block;
    width: 30%;
    padding: 10px 30px;
  }
}

/* project */
.title-project {
  margin: 30px 0 30px 200px;
}
.img-project {
  height: 200px;
  border-radius: 10px;
  margin-right: 20px;
}
.titleArtikel {
  margin-top: 80px;
  color: #716f81;
}
.artikel .perArtikel {
  margin: 20px;
  display: flex;
}
.textArtikel {
  text-decoration: none;
  color: #000;
}
